<h1>Hello World from Zhiguang Xu</h1>
<p>
	It is now <%= @time%>
</p>
<p>
	List of 
	<%= link_to "File Names", say_filenames_path %>!
</p>
<p>
	Time to say
	<%= link_to "Goodbye", say_goodbye_path %>!
</p>
